spring:
  datasource:
    username: postgres
    password: password
    initialization-mode: never
    url: jdbc:postgresql://localhost:5432/xy_poi
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate

---
spring:
  config:
    activate:
      on-profile: testing
  datasource:
    initialization-mode: always
    url: jdbc:tc:postgresql:///test

---
spring:
  config:
    activate:
      on-profile: development
  datasource:
    initialization-mode: always






